flask
Werkzeug
jinja2
flask-login
flask_migrate
WTForms
flask_wtf
flask-sqlalchemy
sqlalchemy
email_validator
flask-restx

python-dotenv

gunicorn
Flask-Minify

flask-dance
blinker

flask_mysqldb
psycopg2-binary

pyngrok

librosa
numpy
opencv-contrib-python
opencv-python
torch
torchvision
tqdm
numba

ffmpeg

moviepy
pydub

soundfile

mega.py

tenacity
